streamlit==1.49.0

# Core
pandas==2.3.1
numpy==2.3.2

# Machine Learning
scikit-learn==1.7.1
joblib==1.5.1

# Visualization
matplotlib==3.10.5
seaborn==0.13.2
plotly==6.3.0

# Excel
openpyxl==3.1.5

# Images
Pillow==11.3.0